Automatrix.Menu.Service.Test/Service References/USWarrantyForm/webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://UsWarranty.com/UswcWebServicePolicies" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://UsWarranty.com/UswcWebServicePolicies" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">USWC Policies Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://UsWarranty.com/UswcWebServicePolicies">
      <s:element name="GetDealerCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DealerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealerAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealerCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealerState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealerZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealerPhone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDealerCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDealerCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticationHeader" type="tns:AuthenticationHeader" />
      <s:complexType name="AuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="UpdateDealerCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DealerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealerAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealerCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealerState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealerZip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealerPhone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDealerCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDealerCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPolicyNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealerCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPolicyNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPolicyNumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVinInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Vin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVinInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVinInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitPolicy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DealerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WarrantyNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RetailAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Vin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TermMonths" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TermMiles" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Deductible" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EffMiles" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EffDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Plan" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitPolicyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitPolicyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitProductsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VoidProductsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitPolicyCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WarrantyNum" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CancelDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="CancelMiles" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitPolicyCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitPolicyCancelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePolicyCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WarrantyNum" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CancelDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="CancelMiles" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePolicyCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidatePolicyCancelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGapNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DealerCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGapNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGapNumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGapNumWithPrefix">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DealerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGapNumWithPrefixResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGapNumWithPrefixResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitGapAddendum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DealerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GapNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RetailAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Vin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TermMonths" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EffDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FinancedAmount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitGapAddendumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitGapAddendumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitGapCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DealerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GapNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CancelDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitGapCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitGapCancelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateGapCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DealerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GapNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CancelDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateGapCancelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateGapCancelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDealerCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetDealerCode" />
  </wsdl:message>
  <wsdl:message name="GetDealerCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetDealerCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetDealerCodeAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateDealerCodeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDealerCode" />
  </wsdl:message>
  <wsdl:message name="UpdateDealerCodeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDealerCodeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDealerCodeAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetPolicyNumSoapIn">
    <wsdl:part name="parameters" element="tns:GetPolicyNum" />
  </wsdl:message>
  <wsdl:message name="GetPolicyNumSoapOut">
    <wsdl:part name="parameters" element="tns:GetPolicyNumResponse" />
  </wsdl:message>
  <wsdl:message name="GetPolicyNumAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetVinInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetVinInfo" />
  </wsdl:message>
  <wsdl:message name="GetVinInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetVinInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetVinInfoAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="SubmitPolicySoapIn">
    <wsdl:part name="parameters" element="tns:SubmitPolicy" />
  </wsdl:message>
  <wsdl:message name="SubmitPolicySoapOut">
    <wsdl:part name="parameters" element="tns:SubmitPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitPolicyAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="SubmitProductsSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitProducts" />
  </wsdl:message>
  <wsdl:message name="SubmitProductsSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitProductsResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitProductsAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="VoidProductsSoapIn">
    <wsdl:part name="parameters" element="tns:VoidProducts" />
  </wsdl:message>
  <wsdl:message name="VoidProductsSoapOut">
    <wsdl:part name="parameters" element="tns:VoidProductsResponse" />
  </wsdl:message>
  <wsdl:message name="VoidProductsAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="SubmitPolicyCancelSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitPolicyCancel" />
  </wsdl:message>
  <wsdl:message name="SubmitPolicyCancelSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitPolicyCancelResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitPolicyCancelAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="ValidatePolicyCancelSoapIn">
    <wsdl:part name="parameters" element="tns:ValidatePolicyCancel" />
  </wsdl:message>
  <wsdl:message name="ValidatePolicyCancelSoapOut">
    <wsdl:part name="parameters" element="tns:ValidatePolicyCancelResponse" />
  </wsdl:message>
  <wsdl:message name="ValidatePolicyCancelAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetGapNumSoapIn">
    <wsdl:part name="parameters" element="tns:GetGapNum" />
  </wsdl:message>
  <wsdl:message name="GetGapNumSoapOut">
    <wsdl:part name="parameters" element="tns:GetGapNumResponse" />
  </wsdl:message>
  <wsdl:message name="GetGapNumAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetGapNumWithPrefixSoapIn">
    <wsdl:part name="parameters" element="tns:GetGapNumWithPrefix" />
  </wsdl:message>
  <wsdl:message name="GetGapNumWithPrefixSoapOut">
    <wsdl:part name="parameters" element="tns:GetGapNumWithPrefixResponse" />
  </wsdl:message>
  <wsdl:message name="GetGapNumWithPrefixAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="SubmitGapAddendumSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitGapAddendum" />
  </wsdl:message>
  <wsdl:message name="SubmitGapAddendumSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitGapAddendumResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitGapAddendumAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="SubmitGapCancelSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitGapCancel" />
  </wsdl:message>
  <wsdl:message name="SubmitGapCancelSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitGapCancelResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitGapCancelAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="ValidateGapCancelSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateGapCancel" />
  </wsdl:message>
  <wsdl:message name="ValidateGapCancelSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateGapCancelResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateGapCancelAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="tns:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:portType name="UswcWebServiceSoap">
    <wsdl:operation name="GetDealerCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get dealer code</wsdl:documentation>
      <wsdl:input message="tns:GetDealerCodeSoapIn" />
      <wsdl:output message="tns:GetDealerCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDealerCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update dealer code</wsdl:documentation>
      <wsdl:input message="tns:UpdateDealerCodeSoapIn" />
      <wsdl:output message="tns:UpdateDealerCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicyNum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get policy number</wsdl:documentation>
      <wsdl:input message="tns:GetPolicyNumSoapIn" />
      <wsdl:output message="tns:GetPolicyNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVinInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Vin Info</wsdl:documentation>
      <wsdl:input message="tns:GetVinInfoSoapIn" />
      <wsdl:output message="tns:GetVinInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitPolicy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submit policy</wsdl:documentation>
      <wsdl:input message="tns:SubmitPolicySoapIn" />
      <wsdl:output message="tns:SubmitPolicySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitProducts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submit products - Econtracting</wsdl:documentation>
      <wsdl:input message="tns:SubmitProductsSoapIn" />
      <wsdl:output message="tns:SubmitProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidProducts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Void products - Econtracting</wsdl:documentation>
      <wsdl:input message="tns:VoidProductsSoapIn" />
      <wsdl:output message="tns:VoidProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitPolicyCancel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submit policy cancel</wsdl:documentation>
      <wsdl:input message="tns:SubmitPolicyCancelSoapIn" />
      <wsdl:output message="tns:SubmitPolicyCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePolicyCancel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validate policy cancel</wsdl:documentation>
      <wsdl:input message="tns:ValidatePolicyCancelSoapIn" />
      <wsdl:output message="tns:ValidatePolicyCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGapNum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Gap Number</wsdl:documentation>
      <wsdl:input message="tns:GetGapNumSoapIn" />
      <wsdl:output message="tns:GetGapNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGapNumWithPrefix">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Gap Number With Prefix</wsdl:documentation>
      <wsdl:input message="tns:GetGapNumWithPrefixSoapIn" />
      <wsdl:output message="tns:GetGapNumWithPrefixSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitGapAddendum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submit Gap Addendum</wsdl:documentation>
      <wsdl:input message="tns:SubmitGapAddendumSoapIn" />
      <wsdl:output message="tns:SubmitGapAddendumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitGapCancel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submit Gap Cancel</wsdl:documentation>
      <wsdl:input message="tns:SubmitGapCancelSoapIn" />
      <wsdl:output message="tns:SubmitGapCancelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateGapCancel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validate Gap Cancel</wsdl:documentation>
      <wsdl:input message="tns:ValidateGapCancelSoapIn" />
      <wsdl:output message="tns:ValidateGapCancelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UswcWebServiceSoap" type="tns:UswcWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDealerCode">
      <soap:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/GetDealerCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetDealerCodeAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDealerCode">
      <soap:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/UpdateDealerCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateDealerCodeAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyNum">
      <soap:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/GetPolicyNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPolicyNumAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVinInfo">
      <soap:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/GetVinInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetVinInfoAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitPolicy">
      <soap:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/SubmitPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SubmitPolicyAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitProducts">
      <soap:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/SubmitProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SubmitProductsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidProducts">
      <soap:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/VoidProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:VoidProductsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitPolicyCancel">
      <soap:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/SubmitPolicyCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SubmitPolicyCancelAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePolicyCancel">
      <soap:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/ValidatePolicyCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ValidatePolicyCancelAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGapNum">
      <soap:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/GetGapNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetGapNumAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGapNumWithPrefix">
      <soap:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/GetGapNumWithPrefix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetGapNumWithPrefixAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitGapAddendum">
      <soap:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/SubmitGapAddendum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SubmitGapAddendumAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitGapCancel">
      <soap:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/SubmitGapCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SubmitGapCancelAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateGapCancel">
      <soap:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/ValidateGapCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ValidateGapCancelAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UswcWebServiceSoap12" type="tns:UswcWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDealerCode">
      <soap12:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/GetDealerCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetDealerCodeAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDealerCode">
      <soap12:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/UpdateDealerCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateDealerCodeAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyNum">
      <soap12:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/GetPolicyNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPolicyNumAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVinInfo">
      <soap12:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/GetVinInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetVinInfoAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitPolicy">
      <soap12:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/SubmitPolicy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SubmitPolicyAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitProducts">
      <soap12:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/SubmitProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SubmitProductsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidProducts">
      <soap12:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/VoidProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:VoidProductsAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitPolicyCancel">
      <soap12:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/SubmitPolicyCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SubmitPolicyCancelAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePolicyCancel">
      <soap12:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/ValidatePolicyCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidatePolicyCancelAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGapNum">
      <soap12:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/GetGapNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetGapNumAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGapNumWithPrefix">
      <soap12:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/GetGapNumWithPrefix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetGapNumWithPrefixAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitGapAddendum">
      <soap12:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/SubmitGapAddendum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SubmitGapAddendumAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitGapCancel">
      <soap12:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/SubmitGapCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SubmitGapCancelAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateGapCancel">
      <soap12:operation soapAction="http://UsWarranty.com/UswcWebServicePolicies/ValidateGapCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidateGapCancelAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UswcWebService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">USWC Policies Web Service</wsdl:documentation>
    <wsdl:port name="UswcWebServiceSoap" binding="tns:UswcWebServiceSoap">
      <soap:address location="http://www.uswarranty.com/Testuswcwebservicepolicies/webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="UswcWebServiceSoap12" binding="tns:UswcWebServiceSoap12">
      <soap12:address location="http://www.uswarranty.com/Testuswcwebservicepolicies/webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>