Automatrix.Menu.Service.Test/Service References/RoadVantageForm/ContractService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/ContractService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/ContractService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/ContractService/">
      <s:element name="GenerateContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contract" type="tns:Contract" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Contract">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ContractOptions" type="tns:ArrayOfContractOption" />
              <s:element minOccurs="0" maxOccurs="1" name="Deductible" type="tns:Deductible" />
              <s:element minOccurs="0" maxOccurs="1" name="TermMile" type="tns:TermMileage" />
              <s:element minOccurs="0" maxOccurs="1" name="LienHolder" type="tns:LienHolder" />
              <s:element minOccurs="0" maxOccurs="1" name="Vehicle" type="tns:Vehicle" />
              <s:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:Customer" />
              <s:element minOccurs="0" maxOccurs="1" name="AdditionalContractInfo" type="tns:AdditionalContractInfo" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractFormNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegisterNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DealerNumber" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="InserviceDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="SaleDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="VehiclePurchaseDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="SaleOdometer" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ManufWarrTerm" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ManufWarrMiles" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="VehiclePurchasePrice" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="PlanCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RateBook" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FinalCopy" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="RetailCost" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="NetCost" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="FinanceType" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FinancedAmount" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="FinanceApr" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="FinanceTerm" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Msrp" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="MonthlyPayment" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="FirstPaymentDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="BalloonAmount" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ResidualValue" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="BaseACV" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="NADAValue" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="InsuranceDeductible" nillable="true" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="SalesPersonFname" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SalesPersonLname" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractPDF" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DigitallySigned" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="QuoteId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="GenerateContractDocument" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsTaxExempt" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="BaseMarkup" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="FIMarkup" nillable="true" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ServiceRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TpaCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContractOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContractOption" nillable="true" type="tns:ContractOption" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContractOption">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSurcharge" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="NetCost" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Deductible">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DeductTypeDescriptions" type="tns:ArrayOfGlobalInformation" />
          <s:element minOccurs="1" maxOccurs="1" name="DeductId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeductAmt" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DeductType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReducedAmount" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGlobalInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GlobalInformation" nillable="true" type="tns:GlobalInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GlobalInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CultureName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TermMileage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TermId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Term" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Mileage" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LienHolder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vehicle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cyl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fuel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Model" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Drv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VinNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Make" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="VehicleType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AspirationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SegmentationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TonRating" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GVWR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleInitial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HomePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HomePhoneExt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkPhoneExt" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdditionalContractInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FieldOrder" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldLabel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Length" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Required" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Unique" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenerateContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateContractResult" type="tns:GenerateContractResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GenerateContractResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ContractDocument" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractNumber" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="EffectiveDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="EffectiveOdometer" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ExpirationOdometer" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ServiceResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PrintContractPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="printPDFRequest" type="tns:PrintContractPDFRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PrintContractPDFRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ContractNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DealerNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RequestingUser" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PrintContractPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrintContractPDFResult" type="tns:PrintContractPDFResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PrintContractPDFResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ContractPDF" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerateContractSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateContract" />
  </wsdl:message>
  <wsdl:message name="GenerateContractSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateContractResponse" />
  </wsdl:message>
  <wsdl:message name="PrintContractPDFSoapIn">
    <wsdl:part name="parameters" element="tns:PrintContractPDF" />
  </wsdl:message>
  <wsdl:message name="PrintContractPDFSoapOut">
    <wsdl:part name="parameters" element="tns:PrintContractPDFResponse" />
  </wsdl:message>
  <wsdl:portType name="ContractServiceSoap">
    <wsdl:operation name="GenerateContract">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The GenerateContract returns contract PDF for given contract parameters.</wsdl:documentation>
      <wsdl:input message="tns:GenerateContractSoapIn" />
      <wsdl:output message="tns:GenerateContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrintContractPDF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Prints Contract PDF for already submitted contract.</wsdl:documentation>
      <wsdl:input message="tns:PrintContractPDFSoapIn" />
      <wsdl:output message="tns:PrintContractPDFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContractServiceSoap" type="tns:ContractServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateContract">
      <soap:operation soapAction="http://tempuri.org/ContractService/GenerateContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintContractPDF">
      <soap:operation soapAction="http://tempuri.org/ContractService/PrintContractPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContractServiceSoap12" type="tns:ContractServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateContract">
      <soap12:operation soapAction="http://tempuri.org/ContractService/GenerateContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintContractPDF">
      <soap12:operation soapAction="http://tempuri.org/ContractService/PrintContractPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContractService">
    <wsdl:port name="ContractServiceSoap" binding="tns:ContractServiceSoap">
      <soap:address location="https://uat.fiadmin.com/scs.webservice/ContractService.asmx" />
    </wsdl:port>
    <wsdl:port name="ContractServiceSoap12" binding="tns:ContractServiceSoap12">
      <soap12:address location="https://uat.fiadmin.com/scs.webservice/ContractService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>